.collection-item {
    padding: 5px 10%!important;
    &:hover {
        background: #f3f3f3!important;
    }
}

.collapsible-header {
    &:hover {
        background: #cbcccc!important;
    }
    
}
.collapsible-header.active {
        background: #dedfdf!important;
    }
.delete {
    &:hover {
        transition: 0.1s ease-in-out;
        transform: scale(1.2);
        color: #ee6e73;
    }
}

.create-btn {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    width: 90%;
}
nav {
    .active {
        font-weight: bolder;
        background-color: rgba(69, 69, 69, 0.1);
    }
}