.collection-item {
    padding: 5px 80px!important;
    &:hover {
        background: #f3f3f3!important;
    }
}

.collapsible-header {
    &:hover {
        background: #cbcccc!important;
    }
    
}
.collapsible-header.active {
        background: #dedfdf!important;
    }
.delete {
    &:hover {
        transition: 0.2s ease-in-out;
        transform: scale(1.2);
        color: #ee6e73;
    }
}